db.sqlite3
Trash
Studying
.ipynb_checkpoints
Jupyter
Tasks.py
/.ipynb_checkpoints/COMPERHENSION-checkpoint.ipynb

#idea
.idea

#tests cache
*__pycache__
.pytest_cache
TASKS/.pytest_cache
TASKS/TESTS/.pytest_cache
TASKS/TESTS/__pycache__
TASKS/COMPREHENSION/.pytest_cache
TASKS/FUNCTION_EXERCISES/.pytest_cache
TASKS/TESTS/TESTS_FUNCTIONS/.pytest_cache
TASKS/LAMBDA/.pytest_cache
TASKS/SETS/.pytest_cache

# my training files py
TASKS/CLASSES/СLASSES.py
TASKS/COMPREHENSION/COMPREHENSION.py
TASKS/FUNCTION_EXERCISES/TASK_EXERCISE_1.py
TASKS/LAMBDA/LAMBDA.py
TASKS/SETS/SETS.py