db.sqlite3
/Trash
/Studying
/.ipynb_checkpoints
/Jupyter
Tasks.py
/.ipynb_checkpoints/COMPERHENSION-checkpoint.ipynb
/TASKS/.pytest_cache
/TASKS/TESTS/.pytest_cache
/TASKS/CLASSES/СLASSES.py
/TASKS/COMPREHENSION/COMPREHENSION.py
/TASKS/FUNCTION_EXERCISES/TASK_EXERCISE_1.py
/TASKS/LAMBDA/LAMBDA.py
/TASKS/SETS/SETS.py